html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

#header {
    background: linear-gradient(90deg, #d66508, #f47f1f);
    width: 100%;
    height: 90px;
    z-index: 10;
    overflow: auto;
    color: #fff;
    box-shadow: 0px 10px 10px #2d2d2d;
    text-align: center;
    position: absolute;
}

#header h1 {
    margin: 10px 0 0;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

#footer {
    background: #000;
    width: 100%;
    overflow: auto;
    position: fixed;
    bottom: 0;
    color: #fff;
    text-align: center;
}

#footer span {
    margin-top: 5px;
}

#logo {
    width: 250px;
    height: auto;
    margin-top: 10px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#logo:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

#map {
    width: 100%;
    height: 100vh;
}

#barList {
    position: absolute;
    top: 20vh;
    right: 5vh;
    line-height: 2;
    width: 25vw;
    height: auto;
    background: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    opacity: 0.9;
}

#optionsBox {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    line-height: 2;
    width: auto;
    height: auto;
    background: #fff;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 14px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f17105;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 26px;
}

.slider.round:before {
    border-radius: 50%;
}

.addButton, .removeAllButton {
    font-weight: normal;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

/* Standard Syntax */
@keyframes rainbow{
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}
.feelingLuckyButton {
    font-weight: bold;
    font-size: 20px;
    color: #f17105;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    right: 20px;
}

.feelingLuckyButton:hover{
/* Chrome, Safari, Opera */
-webkit-animation: rainbow 5s infinite;

/* Internet Explorer */
-ms-animation: rainbow 5s infinite;

/* Standard Syntax */
animation: rainbow 5s infinite;
}

.bendMeButton {
    font-weight: bold;
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px;
    background: #f17105;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.addButton.isAddMode {
    font-weight: bold;
    background: #cbefff;
    cursor: pointer;
}

.addButton:focus, .bendMeButton:focus, .removeAllButton:focus, .feelingLuckyButton:focus {
    outline: none;
}

.removeButton {
    font-weight: normal;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #ffb2b2;
    cursor: pointer;
}



.searchBar {
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    line-height: 2;
    width: 8vh;
    height: auto;
    top: 20vh;
    left: 5vh;
    opacity: 0.7;
    box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    background-image: url("search.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out, opacity .5s ease-in-out;
    transition: width 0.4s ease-in-out, opacity .5s ease-in-out;
    padding: 12px 40px 12px 60px;
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
}

.searchBar:focus {
    width: 25vw;
    outline: none;
    border: 2px solid #f17105;
}

.searchBar:hover{
    width: 25vw;
}