html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

#header {
    background: #f17105;
    width: 100%;
    height: 120px;
    overflow: auto;
    color: #fff;
    text-align: left;
}

#header h1 {
    font-size: 72px;
    margin: 0 0 0;
}

#footer {
    background: #000;
    width: 100%;
    height: 40px;
    overflow: auto;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
}

#footer span {
    margin-top: 5px;
}

#logo {
    width: 150px;
    height: auto;
    padding: 20px 20px 20px 20px;
}